// Variables

$spacing-mini: 5px;
$spacing-box: 10px; // for box-like spacing, like button padding
$spacing-para: 15px; // for vertical rhythm, e.g. bottom margin for p, img, togglers, boxes, etc.

$color-danger: #F00; // red
$color-input-border: #d4d4d4; // gray
$color-link: #00F; // blue

$base-font-family: sans-serif;
$base-font-size: 14px;
$base-border-input: 1px solid $color-input-border;
$base-border-radius: 3px;
